@{
    ViewData["Title"] = "About us";
}

<h2>About us</h2>

<p>
    This is a conceptual site made for a graduation project during the Academy C#.NET-course for the fall of 2016. The site is not intended for real use.
</p>
<h4>
    Site and functionality mostly created by:
</h4><p>Andreas Fullmestad, Arvid Nikka, Jesper Klintestam, Johan Strandberg och Robin Sävelid.</p>
<div class="container" style="padding-bottom:200px">

</div>
