<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
</head>
<body>
    <h3>Stop asking stupid questions!</h3>
    <a data-toggle="collapse" href="#q1">Question 1</a>
    <div id="q1" class="collapse">The answer to your question.</div>
    <br/>
    <a data-toggle="collapse" href="#q2">Question 2</a>
    <div id="q2" class="collapse">The answer to your question.</div>
    <br />
    <a data-toggle="collapse" href="#q3">Question 3</a>
    <div id="q3" class="collapse">The answer to your question.</div>
</body>
</html>