<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
</head>
<body>
    <h4>Stop asking stupid questions!</h4>
    <a data-toggle="collapse" href="#q1">Who's behind this site and its functionality?</a>
    <div id="q1" class="collapse">That would be Andreas, Arvid, Jesper, Johan and Robin</div>
    <br/>
    <a data-toggle="collapse" href="#q2">Is this a good web application?</a>
    <div id="q2" class="collapse">Like I said, stop asking stupid questions! <br /> ...Please.</div>
    <br />
    <a data-toggle="collapse" href="#q3">Last question</a>
    <div id="q3" class="collapse">Finally!</div>
</body>
</html>