@{
    ViewData["Title"] = "FAQ";
}

<h2>Frequently Asked Questions</h2>

<a data-toggle="collapse" href="#q1">What is this?</a>
<br />
<div id="q1" class="collapse">This is a conceptual site made for a graduation project during the Academy C#.NET-course for the fall of 2016. The site is not intended for real use.</div>
<br />
<a data-toggle="collapse" href="#q2">Are you using real data for calculating the ROI?</a>
<br />
<div id="q2" class="collapse">The algorithms are all based on actual, historic, price data. The results, however, offer only an indication of the possible ROI, since the algorithms doesn't take into account all ascpects of a real-life trading scenario.</div>
<br />
<a data-toggle="collapse" href="#q3">Who's behind this site and its functionality?</a>
<br />
<div id="q3" class="collapse">That would be Andreas, Arvid, Jesper, Johan and Robin.</div>
<div class="container" style="padding-bottom:200px">

</div>
