@model GekkoTrading.Models.UserViewModels.HomeVM
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px;
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }



        /* On small screens, set height to 'auto' for sidenav and grid */
        screen and (max-width: 767px) {
            .sidenav;

        {
            height: auto;
            padding: 15px;
        }

        .row.content {
            height: auto;
        }

        }
    </style>
</head>
<body>


    <div class="container-fluid text-center">
        <div class="row content">

            <div class="col-sm-8 text-left">
                <h1>Welcome @Model.Username</h1>
                <p>Below you will find your saved searches, click them to review your result.</p>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-4" style="border: 2px solid black;">
                        <h3>Gold</h3>
                        <p>2016-06-03 to 2016-08-03</p>
                        <p>Indicator: Moving Average</p>
                        <p>MA1: 5  MA2: 10</p>
                        <p>Return: 2,1%</p>
                    </div>
                    <div class="col-sm-6 col-md-4" style="border: 2px solid black;">
                        <h3>Silver</h3>
                        <p>2016-10-12 to 2016-10-24</p>
                        <p>Indicator: Moving Average</p>
                        <p>MA1: 12  MA2: 25</p>
                        <p>Return: 1,25%</p>
                    </div>
                    <div class="col-sm-6 col-md-4" style="border: 2px solid black;">
                        <h3>Nikkei225</h3>
                        <p>2016-07-28 to 2016-11-15</p>
                        <p>Indicator: Moving Average</p>
                        <p>MA1: 3  MA2: 14</p>
                        <p>Return: 3,25%</p>
                    </div>
                    <br />
                    <div class="col-sm-6 col-md-4" style="border: 2px solid black;">
                        <h3>BrentCrudeOil</h3>
                        <p>Indicator: Moving Average</p>
                        <p>MA1: 7  MA2: 34</p>
                        <p>Return: 3,25%</p>
                    </div>
                    <div class="col-sm-6 col-md-4" style="border: 2px solid black;">
                        <h3>Palladium</h3>
                        <p>Test...</p>
                    </div>
                    <div class="col-sm-6 col-md-4" style="border: 2px solid black;">
                        <h3>Lean Hog</h3>
                        <p>Test...</p>
                    </div>
                </div>

            </div>

            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>









    @*<div>

            @Model.Username
            <div class="row">
                <div class="col-sm-12 col-lg-5 col-md-6" style="background-color: hotpink">
                    <h1><img src="~/images/giphy.gif" class="col-xs-12" /></h1>
                    </div>
                    <div class="col-sm-12 col-lg-5 col-md-6" style="background-color: navy">
                        <h1><img src="~/images/laptop-beach.jpg" class="col-xs-12" /></h1>
                    </div>

            </div>

        </div>*@
</body>
</html>
