@{
    ViewData["Title"] = "Home";
}
    
<section id="portfolio" style="padding-top:20px; padding-bottom:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading">Welcome back, @Model.Username!</h1>
                    <p class="lead">You have 2 saved strategies.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <div class="box"><a asp-controller="Tool" asp-action="MA"><img src="~/multi/img/bullion-932218_1920.jpg" alt="" class="img-responsive"></a>
                        <p class="lead">Silver</p></div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="box"><a asp-controller="Tool" asp-action="MA"><img src="~/multi/img/oil-106913_1280.jpg" alt="" class="img-responsive"></a>
                    <p class="lead">Crude oil</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
