@{
    ViewData["Title"] = "Home";
}
@inject SignInManager<ApplicationUser> SignInManager

<div class="jumbotron main-jumbotron">
    <div class="container">
        <div class="content">
            <h1 style="font-family: 'Raleway', sans-serif;">Gekko Trading</h1>
            <p class="margin-bottom">Feeling lost in the trading jungle? We hear you.</p>
            <p><a asp-controller="Tool" asp-action="MA" class="btn btn-white" style="font-family: 'Raleway', sans-serif;">Ride the Gekko</a></p>
        </div>
    </div>
</div>
<section style="padding-top:20px; padding-bottom:20px;">
    <div class="container" style="padding-right:20px">
        <h2>We take human emotions out of the trading equation.</h2>
        <p class="lead" >At Gekko Trading we believe that the key to success within the increasingly impetuous world of trading is data, data and even more data. Don't go wasting your emotions on bad investments, use them on something more valuable instead!</p>
        <p style="padding-right:20px">With one of the most rigourous databases in the business we offer our customers a unique upportunity to find their ultimate trading strategy, based on personal interests and areas of expertise. Scan through millions of price data points with our easy-to-use tools and save your settings for future use. Sign up today to get started!</p>
        <p><a asp-controller="Home" asp-action="About" class="btn btn-ghost" style="font-family: 'Raleway', sans-serif;">Learn more</a></p>
    </div>
    <hr>
    <div class="container clearfix">
                <h1>Our tools</h1>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box box-services">
                            <div class="icon"><i class="pe-7s-graph2"></i></div>
                            <h4 class="heading">Moving Averages (MA)</h4>
                            <p>...is a price based, lagging (or reactive) indicator that displays the average price of a security over a set period of time. A Moving Average is a good way to gauge momentum as well as to confirm trends, and define areas of support and resistance.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box box-services">
                            <div class="icon"><i class="pe-7s-graph1"></i></div>
                            <h4 class="heading">On Balance Volume (OBV)</h4>
                            <p>... is used in technical analysis to measure buying and selling pressure. It is a cumulative indicator meaning that on days where price went up, that day's volume is added to the cumulative OBV total. If price went down, then that day's volume is subtracted from the OBV total.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box box-services">
                            <div class="icon"><i class="pe-7s-graph3"></i></div>
                            <h4 class="heading">Relative Strength Index (RSI)</h4>
                            <p>...is a well versed momentum based oscillator which is used to measure the speed (velocity) as well as the change (magnitude) of directional price movements. Essentially RSI, when graphed, provides a visual mean to monitor both the current, as well as historical, strength and weakness of a particular market. </p>
                        </div>
                    </div>
                </div>
            </div>
</section>
