@{
    Layout = "../Shared/_Layout";
}
<div class="row">

    <div class="col-sm-4 col-lg-2 hidden-xs bg-danger">

Vad som helst

    </div>
    <div class="visible-xs">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Dropdown Example
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
    </div>

</div>
<div>
    @RenderBody()
</div>


