@{
    Layout = "../Shared/_Layout";
}

<div class="row">

    <div class="col-sm-4 col-lg-2 hidden-xs">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle FullWidthBtn" type="button" data-toggle="dropdown">
                Indicators
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a href="#">MA</a></li>
                <li><a href="#">SIS</a></li>
                <li><a href="#">BRI</a></li>
            </ul>
        </div>
        <br />

        <div class="list-group">
            <span href="#" class="list-group-item">
                Instruments
            </span>
            <a href="#" class="list-group-item active">Guld</a>
            <a href="#" class="list-group-item">Silver</a>
            <a href="#" class="list-group-item">Platinum</a>
        </div>

    </div>
    <div class="visible-xs">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle FullWidthBtn" type="button" data-toggle="dropdown">
                Indicators
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">MA</a></li>
                <li><a href="#">SIS</a></li>
                <li><a href="#">BRI</a></li>
            </ul>
        </div>
        <br />

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle FullWidthBtn" type="button" data-toggle="dropdown">
                Instruments
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">GULD</a></li>
                <li><a href="#">SILVER</a></li>
                <li><a href="#">PLATINUM</a></li>
            </ul>
        </div>
    </div>
</div>
<div>
    @RenderBody()
</div>


