@using GekkoTrading.Models.Entities
@model List <Instrument>

@*<div class="dropdown">
    <button class="btn btn-default dropdown-toggle FullWidthBtn" type="button" data-toggle="dropdown">
        Indicators
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">MA</a></li>
        <li><a href="#">SIS</a></li>
        <li><a href="#">BRI</a></li>
    </ul>
</div>
<br />*@

<div class="list-group hidden-xs">
    <span href="#" class="list-group-item" style="font-weight:700">
        Instruments
    </span>
    @foreach (var item in Model)
    {
        <a href="/Tool/MA/@item.Id" class="list-group-item">@item.InstrumentName</a>
    }
</div>

<div class="dropdown visible-xs" style="max-width:280px">
    <button class="btn btn-default dropdown-toggle FullWidthBtn" type="button" data-toggle="dropdown">
        Instruments
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
     {
            <li><a href="#">@item</a></li>
     }
    </ul>
</div>

